:root {
  --common: grey;
  --theme: #8885DB;
  --dark-bg: #131516;
  --dark-fg: #98a3ad;
  --light-bg: #F6F5FF;
  --light-fg: black;
  --epic: darkorchid;
  --legendary: gold;
  --link: #4169e1;
  --mythic: #f2a900;
  --rare: cornflowerblue;
  --search-bg: white;
  --search-border: #D1D1D1;
  --search-fg: #000000;
  --uncommon: forestgreen;
  --nav-link: #5F616C;
  --tx-link: #312F2F;
}

html {
  background-color: var(--light-bg);
  color: var(--light-fg);
}

body {
  /* background: url('./images/bgVectors.png'); */
  background-repeat: repeat-y;
  background-size: cover;
  font-family: 'Helvetica' !important;
}

main {
  max-width: 100%;
  min-height: calc(100vh - 308px);
}

.container {
  max-width: 1536px;
  margin: auto;
}

main>.container {
  margin: 0 auto;
  padding: 0 1rem 1rem;
  max-width: 45rem;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
}

h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

h1 a {
  color: var(--light-fg);
}

h1 a:visited {
  color: var(--light-fg);
}

iframe {
  aspect-ratio: 1 / 1;
  border: none;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #46D0AE !important;
}

a:visited {
  color: var(--link);
}

dt {
  font-weight: bold;
  margin-top: 1rem;
  text-transform: uppercase;
  color: #9C9C9C;
  font-size: 12px;
}

nav {
  align-items: center;
  background-color: transparent;
  display: flex;
  gap: 1rem;
  padding: 24px 32px 24px 32px;
}

nav a.active {
  color: var(--light-fg);
  font-weight: bold;
}

nav .nav-items-wrapper {
  display: flex;
  column-gap: 48px;
  flex: 1;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  nav .nav-items-wrapper {
    column-gap: 12px;
  }
}

nav a:hover {
  color: var(--link);
  text-decoration: none;
}

nav a {
  color: var(--nav-link);
  font-size: 1rem;
}

nav a:active {
  font-weight: 700;
}

form {
  position: relative;
  display: flex;
  gap: 1rem;
  margin-left: auto;
  width: 240px;
}

input[type=text] {
  background-color: var(--search-bg);
  border-radius: 8px;
  border: 1px solid var(--search-border);
  color: var(--search-fg);
  flex-grow: 1;
  min-width: 0;
  height: 40px;
  padding: 10px 36px 10px 12px;
}

textarea {
  background-color: var(--search-bg);
  border-radius: 8px;
  border: 1px solid var(--search-border);
  color: var(--search-fg);
}

.search-icon {
  background: url('./images/searchIcon.svg');
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 10px;
  width: 20px;
  height: 20px;
  border: none;
}

h2 {
  font-size: 20px;
}

dl {
  overflow-wrap: break-word;
  background: white;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 40px;
}

dl>dt:first-child {
  margin-top: 0 !important;
}

dl>dd:last-child>a {
  text-decoration: none;
  color: var(--tx-link);
  font-weight: 700;
  text-transform: none;
}

dd {
  color: #606060;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top: 4px;
  margin-left: 0;
  font-weight: 700;
}

.transaction-box {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  background: white;
  border-radius: 16px;
  padding: 20px;
  list-style-type: none;
}

.transaction-box>li>a {
  text-decoration: none;
  color: var(--tx-link);
  font-weight: 700;
  overflow-wrap: break-word;
}

.prev-next {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-top: 38px;
}

.arrow {
  border: solid var(--theme);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

ol,
ul {
  overflow: hidden;
}

@media (max-width: 62rem) {
  nav {
    flex-direction: column;
  }

  nav form {
    margin: 0 auto;
  }
}

.block-list {
  font-family: monospace, monospace;
  list-style-position: inside;
  padding-inline-start: 1rem;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 16px;
  padding: 20px;
}

.block-list>li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.block-list>li>a {
  color: var(--tx-link);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block {
  background-color: var(--light-bg);
  border-radius: 0.5%;
  margin: 3%;
  padding: 0.5%;
  text-align: center;
}

.block a {
  color: var(--light-fg);
  margin-top: 1%;
}

.block h2 {
  margin: 1%;
}

.center {
  text-align: center;
}

.monospace {
  font-family: monospace, monospace;
}

span.common,
span.uncommon,
span.rare,
span.epic,
span.legendary,
span.mythic {
  border-radius: 0.25rem;
  color: white;
  padding: 0.125rem 0.25rem;
}

span.common {
  background-color: var(--common);
}

span.uncommon {
  background-color: var(--uncommon);
}

span.rare {
  background-color: var(--rare);
}

span.epic {
  background-color: var(--epic);
}

span.legendary {
  background-color: var(--legendary);
}

span.mythic {
  background-color: var(--mythic);
}

a.common {
  color: var(--common);
}

a.uncommon {
  color: var(--uncommon);
}

a.rare {
  color: var(--rare);
}

a.epic {
  color: var(--epic);
}

a.legendary {
  color: var(--legendary);
}

a.mythic {
  color: var(--mythic);
}

.thumbnails {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  border-radius: 16px;
  padding: 20px;
  min-height: 100px;
}

.show-more {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  font-weight: 700;
}

.show-more>a {
  color: var(--theme);
  text-decoration: none;
}

.thumbnails>a {
  border-radius: 2%;
  margin: 1%;
  overflow: hidden;
  width: 23%;
}

.thumbnails iframe {
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.latest-blocks-title {
  margin-top: 40px;
}

.inscription-preview {
  display: flex;
  justify-content: center;
}

.inscription-id {
  font-size: 32px;
  text-align: left;
  width: 100%;
  font-weight: 700;
  margin-bottom: 20px;
}

.inscription-preview>*:nth-child(1),
.inscription-preview>*:nth-child(3) {
  color: var(--dark-bg);
  flex: 1;
  font-size: 200%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inscription-preview>a:nth-child(1):hover,
.inscription-preview>a:nth-child(3):hover {
  color: var(--dark-fg);
}

.inscription-preview>*:nth-child(2) {
  flex: 0 75%;
}

.inscription-preview>a>iframe {
  width: 100%;
}

.tabs {
  align-items: center;
  display: flex;
}

.tabs>a {
  color: var(--light-fg);
  padding: 1rem;
}

.tabs>*:first-child {
  flex: 1;
  text-align: right;
}

.tabs>*:last-child {
  flex: 1;
  text-align: left;
}

.icon {
  height: 1rem;
  width: 1rem;
}

.FAQs {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 40px;
}

.faq-item {
  position: relative;
  background-color: white;
  border-radius: 12px;
  padding: 18px 20px 20px 18px;
  margin-top: 20px;
  cursor: pointer;
}

.faq-item>.faq-header {
  font-size: 20px;
  font-weight: 700;
}

.faq-item-title {
  width: 95%;
  line-height: 1.75rem;
  font-size: 1rem;
}

.faq-header>i {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}


.faq-item>.faq-body {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 0;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.faq-item>.faq-body.active {
  margin-top: 20px;
  height: fit-content;
}

.goats-page.container {
  max-width: 1536px;
}

.goats-page h1,
.goats-page p {
  margin: 0;
}

.goats-page .banner-img {
  width: 100%;
}

.goats-page .banner {
  position: relative;
}

.goats-page .title-banner {
  position: absolute;
  left: 40px;
  bottom: 0px;
  border-radius: 16px;
  border: 4px solid white;
  width: 20vw;
  max-width: 200px;
  transform: translateY(50%);
  aspect-ratio: 1;
  border-radius: 8px;
}

.goats-page>.content {
  margin-top: 132px;
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


@media screen and (max-width: 768px) {
  .goats-page>.content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

.goats-page .minting .heading {
  display: flex;
  gap: 15px;
  align-items: center;
}

.goats-page .minting .heading h1 {
  width: fit-content;
  font-size: 32px;
}

.goats-page .check-icon {
  width: 26.67px;
  height: 26.67px;
}

.goats-page .minting .description {
  margin-top: 16px;
  margin-bottom: 132px;
  font-size: 20px;
}

.base-button {
  display: block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  background-color: #8885DB;
  border-radius: 8px;
  color: white;
  font-size: 18px;
}

.goats-page .mint-button {
  max-width: 320px;
  width: 100%;
}


.goats-page .story {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.goats-page .story .title {
  font-size: 24px;
}

.goats-page .story .content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.goats-page .story .content .question h1 {
  font-size: 18px;
}

.goats-page .story .content .question p {
  /* max-width: 640px; */
  margin-top: 8px;
  font-size: 18px;
}

.contact-page p,
.contact-page h1 {
  margin: 0;
}

.contact-page {
  max-width: 500px;
  margin: 0 auto;
}

#success-msg {
  text-align: center;
}

.contact-page .contact-form {
  width: 100%;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
}

.contact-form .input-control {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.input-control input {
  padding: 20px;
  height: auto;
}

.contact-form .input-control label {
  font-size: 12px;
  color: #606060;
}

.contact-form .names {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
}

.contact-form textarea {
  padding: 20px;
  height: 160px;
  resize: none;
}

.contact-form .submit-button {
  width: 100%;
  margin-top: 100px;
}

.container.inscription-container {
  max-width: 1360px;
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 60px;
  overflow-wrap: break-word;
  background: white;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
  .container.inscription-container {
    display: flex;
    flex-direction: column;
  }
}

.inscription>img {
  border-radius: 8px;
  width: 100%;
  height: max-content;
}

.main-infos,
.second-infos {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.info .title {
  display: flex;
  gap: 11px;
  align-items: center;
  text-transform: uppercase;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}

.info .content {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.6);
}

.info .content.timestamp {
  display: flex;
  flex-wrap: wrap;
}

#timestamp {
  margin-right: 12px;
}

#from-now {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}

.show-more-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 160px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  text-align: center;
  padding: 12px 18px;
  border: 1px solid black;
  border-radius: 8px;
  cursor: pointer;
}

.hidden-panel {
  position: relative;
}

.hidden {
  display: none;
}

.copy-icon {
  cursor: pointer;
}

.inscription {
  display: flex;
  flex-direction: column;
}

.inscription .links {
  display: flex;
  justify-content: center;
  margin-top: 26px;
  gap: 28px;
}

.inscription .links img {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

footer {
  padding: 40px;
}

footer .top {
  display: flex;
  justify-content: space-between;
}

footer .terms {
  margin-top: 36px;
  font-size: 14px;
}

footer .terms>p {
  margin: 0;
  color: #4169e1;
}

footer .links {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 640px) {
  footer {
    padding: 10px;
  }

  footer .links {
    gap: 4px;
  }
}