<div class="container">
    <div class="contact-page">
        <h1>Contact Us!</h1>
        <form class="contact-form" action="#">
            <div class="names">
                <div class="input-control">
                    <label for="firstName">First Name</label>
                    <input type="text" id="firstName" name="firstName" value="John" />
                </div>
                <div class="input-control">
                    <label for="lastName">Last Name</label>
                    <input type="text" id="lastName" name="lastName" value="John" />
                </div>
            </div>
            <div class="input-control">
                <label for="email">Email Address</label>
                <input type="text" id="email" name="email" value="email@email.com" />
            </div>
            <div class="input-control">
                <label for="walletAddress">Wallet Address (Optional)</label>
                <input type="text" id="walletAddress" name="walletAddress"
                    value="bc1qj4ku25tdvp94pdfasfafasf454rq24124sfsed5626yy" />
            </div>
            <div class="input-control">
                <label for="message">Message</label>
                <textarea rows="4" id="message" placeholder="Type something here" name="message"></textarea>
            </div>
            <button class="base-button submit-button" type="submit">Submit</button>
        </form>
    </div>
</div>