<div class="faqs-page">
    <div class="container">
        <div class="mint-ordinals">
            <div class="left-content">
                <div class="title">Mint your ordinals on JuratBTC</div>
                <div class="description">JuratBTC is the Layer 1 Bitcoin protocol blockchain with court
                    access built in.</div>
                <div class="benefits">
                    <div class="item">
                        <img src="/static/images/check-mark.svg" alt="" />
                        <div class="content">Easy to use minting platform</div>
                    </div>
                    <div class="item">
                        <img src="/static/images/check-mark.svg" alt="" />
                        <div class="content">Ordinal inscriptions are sats, always stored on the blockchain.
                        </div>
                    </div>
                    <div class="item">
                        <img src="/static/images/check-mark.svg" alt="" />
                        <div class="content">Metadata: stores critical information such as royalties</div>
                    </div>
                    <div class="item">
                        <img src="/static/images/check-mark.svg" alt="" />
                        <div class="content">Immutable: cannot be changed</div>
                    </div>
                </div>
                <button class="base-button mint-button">Mint an Ordinal</button>
            </div>
            <div class="goats-img">
                <img src="/static/images/goats-banner.png" alt="" />
            </div>
        </div>
        <div class="take-ordinals">
            <div class="title">Take your ordinals to the next level with real legal rights for you and
                your buyers</div>
            <div class="content">
                JTC Ordinals are a new type of NFT (non-fungible token) with revolutionary features
                unique to our blockchain. When using JTC Ordinals to mint art NFTs, artists embed
                technology to enforce their legal rights if a buyer violates licensing terms or fails to
                pay royalties. These same protections help collectors recover their tokens in the event
                of scams, hacks, and lost private keys. No other token offers these vital capabilities.
            </div>
        </div>
    </div>
    <div class="instructions-section">
        <div class="container">
            <div class="title">Instructions for Minting JTC Ordinals</div>
            <div class="sub-title">This is your How to Guide for Beta JTC Ordinal minting.</div>
            <div class="content">
                <div class="item">
                    <div class="marker">1.</div>
                    <div class="text">
                        If you haven’t already, <a href="https://jurat.io/download" target="_blank">download the Jurat
                            Wallet</a> to get started.
                    </div>
                </div>
                <div class="item">
                    <div class="marker">2.</div>
                    <div class="text">
                        Create a New Wallet for your JTC Ordinals. To manage your JTC Ordinals collection,
                        you must create a new wallet that specifically holds your Ordinals. Due to their
                        blockchain properties, Ordinals can be mistaken for JTC tokens and can accidentally
                        be sent with normal transactions. To avoid this, please create a new wallet specific
                        for your Ordinals.
                    </div>
                </div>
                <div class="item">
                    <div class="marker">3.</div>
                    <div class="text">
                        Once you have your wallet set-up it’s time to start minting.
                        <ul>
                            <li>
                                The platform supports files of various sizes and formats, including files and
                                plain text.
                                <ul class="none">
                                    <li>
                                        - As of May 5, 2023 we are accepting PNG image files only. We will add more
                                        file types in next week’s release
                                    </li>
                                    <li>
                                        - Metadata from the file will be viewable in the Ordinal Explorer after
                                        minting
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Text inscriptions have a maximum word count of 12,000.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="marker">4.</div>
                    <div class="text">
                        Next, you will need to select a license and any royalty requirements for your
                        Ordinal. When minting, you can choose from three different license types which
                        determine how the Ordinal can be used and shared.
                        <ul>
                            <li>
                                Personal License
                            </li>
                            <li>
                                Commercial License
                                <ul class="none">
                                    <li>
                                        - Non-Exclusive
                                    </li>
                                    <li>
                                        - Exclusive
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Custom License
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item">
                    <div class="marker">5.</div>
                    <div class="text">
                        Payment can be made in JTC or USDC through Metamask. If you do not pay, your ordinal
                        will not mint and the request will time out after 24 hours. If paying with JTC send
                        .01 JTC to the wallet listed on the transaction page.
                    </div>
                </div>
                <div class="item">
                    <div class="marker">6.</div>
                    <div class="text">
                        Timing for Ordinal Minting: Once you mint your ordinal you will see it confirmed
                        within 2 hours (right now it should not take more than 5 minutes). However, it will
                        not appear in the Ordinal Explorer for about 15 minutes. You will see the ordinal
                        transaction in your Ordinals Wallet prior to it being confirmed. You will only be
                        able to see your Ordinal in the Explorer. In the near future, you will be able to
                        see the ordinal in your Jurat Wallet, but that feature is not live at this time.
                    </div>
                </div>
                <div class="item ">At this time you cannot transfer your JTC Ordinal. Stay tuned for
                    more updates.</div>
            </div>
            <button class="base-button mint-button">Mint an Ordinal</button>
        </div>
    </div>
    <div class="container">
        <div class="other-sections">
            <div class="claim-earn">
                <div class="card">
                    <div class="title">Claim It</div>
                    <div class="description">
                        If you own BTC then chances are you also own JTC at 1:1. Download the Jurat Wallet
                        and read our FAQs.
                    </div>
                    <button class="base-button">Claim Your JTC</button>
                </div>
                <div class="card">
                    <div class="title">Earn It</div>
                    <div class="description">
                        If you complete Zealy tasks to help grow our community we will reward you with JTC
                        in your Jurat Wallet.
                    </div>
                    <button class="base-button">See Tasks</button>
                </div>
            </div>
            <div class="digital-art">
                <div class="title">
                    Digital Art’s Game Changer: JTC Ordinals Usher in a New Era of Legal Protection and
                    Security
                </div>
                <div class="content">
                    The advent of NFTs propelled digital art from an online curiosity to the forefront of
                    gallery and museum shows and has allowed digital artists to take their rightful place
                    on the world stage. NFTs have also spawned entirely new ways for creators to monetize
                    the value of their works. Blockchain-based transactions offer unprecedented liquidity
                    and can facilitate collaborative revenue models such as profit sharing between artist
                    and collector. These new modalities go to the very heart of the revolution in
                    cooperation that is Web3.
                    <br />
                    <br />
                    <strong>The problem</strong>: Unfortunately, NFT technology was still new and
                    underdeveloped when the
                    art world adopted it and the results have been painful. NFT art is too easily stolen
                    through fraud, hacks, and smart contract exploits. Likewise, licensing agreements are
                    unclear or missing entirely, while royalty collection is being thwarted by big,
                    centralized marketplaces that profit by cutting out the artists. Digital art NFTs need
                    to evolve to fulfill their promise.
                    <br />
                    <br />
                    <strong>The solution</strong>: We are bringing legal enforcement to digital art with
                    JTC Ordinals. Our
                    ordinals are “NFTs with benefits” that include on-chain licensing agreements,
                    incorporated artworks, enforcement of artists’ royalties and copyrights, as well as
                    property protection for owners. With JTC Ordinals, a one-of-a-kind piece from a
                    renowned digital artist like Grant Yun enjoys the same effective protections as
                    physical art like Warhol, Picasso, or Nina Chanel Abney. This integration of the art
                    and legal remedies on-chain will unlock immense value for both artists and collectors,
                    making art ownership more accessible to everyone.
                </div>
            </div>
            <div class="faqs">
                <div class="title">So let’s dive into some frequently asked questions:</div>
                <div class="content">
                    <div class="faq-item">
                        <div class="faq-header">
                            <div class="faq-item-title">What are JTC Ordinals?</div>
                            <i class="arrow down"></i>
                        </div>
                        <div class="faq-body">
                            JTC Ordinals are a new type of NFT (on non-fungible token) with revolutionary
                            features unique to our blockchain. When using JTC Ordinals to mint art NFTs,
                            artists embed technology to enforce their legal rights if a buyer violates
                            licensing terms or fails to pay royalties. These same protections help collectors
                            recover their tokens in the event of scams, hacks, and lost private keys. No other
                            token offers these vital capabilities.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-header">
                            <div class="faq-item-title">What are the benefits of JTC Ordinals for artists?
                            </div>
                            <i class="arrow down"></i>
                        </div>
                        <div class="faq-body">
                            With JTC Ordinals, artists can take full advantage of disruptive NFT technologies
                            while maintaining full legal protection for their works. For example, Web3 enables
                            new revenue sharing models like royalty agreements with collectors, but these
                            agreements have proven impossible to enforce as a practical matter. With JTC
                            Ordinals, artists enforce their agreements independently. There is no need to
                            trust or rely on marketplaces whose interests are not perfectly aligned.
                            <br />
                            <br />
                            An additional benefit is that JTC Ordinals incorporate all of the licensing terms
                            the artist requires. This way, the agreement can be viewed on an explorer so there
                            is no dispute or confusion about the artist's rights. Clear agreements give
                            creators more control over their works and ensures that their rights are respected
                            by others throughout the life of their creations.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-header">
                            <div class="faq-item-title">What benefits do JTC Ordinals offer to digital art
                                collectors?</div>
                            <i class="arrow down"></i>
                        </div>
                        <div class="faq-body">
                            JTC Ordinals are also the ideal way for artists to protect their collectors,
                            fetching better prices for their art.
                            <br />
                            <br />
                            Thefts and frauds are an unfortunate and all too common hazard for collectors
                            investing in digital assets. With current-generation NFTs and ordinals on BTC, the
                            collectors are out of luck — it is essentially impossible to recover digital art
                            once it has left the collector's wallet. The market discounts the risk of these
                            losses into sale prices, reducing returns for both the artist and collectors who
                            seek appreciation in the value of their collections.
                            <br />
                            <br />
                            Digital assets on the JuratBTC blockchain are recoverable in court and
                            arbitration, reducing the losses from a crime and also discouraging criminals from
                            targeting the assets in the first place. This revolutionary advance helps artists
                            unlock the value of their works and is a unique safety feature for collectors.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-header">
                            <div class="faq-item-title">How does the JuratBTC Blockchain offer legal
                                protection for digital art?</div>
                            <i class="arrow down"></i>
                        </div>
                        <div class="faq-body">
                            JTC Ordinals are minted on JuratBTC, a unique layer-1 blockchain that connects to
                            courts using a protocol called Jurat. If someone breaks the law or breaches an
                            agreement, the judge can issue an order and the JuratBTC blockchain will follow
                            it. For example, if an NFT buyer fails to pay royalties to the artist, a judge can
                            seize the NFT until the royalties are paid. Similarly, if a hacker steals an NFT,
                            a judge can order it returned to the collector.
                            <br />
                            <br />
                            To learn more about Jurat's court connection technology please visit <a
                                href='https://jurat.io/whitepaper/' target="_blank">https://jurat.io/whitepaper/</a>
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-header">
                            <div class="faq-item-title">Can I hold my JTC Ordinals in the same wallet as my
                                JTC?</div>
                            <i class="arrow down"></i>
                        </div>
                        <div class="faq-body">
                            No. Ordinals work by minting data into small units of the blockchain's native
                            coin. Accordingly, your JTC Ordinals could be mistaken for JTC coins and
                            accidentally sent along with normal transactions. To avoid this, you must create a
                            separate wallet to be used just for your ordinals and keep them in that wallet
                            when minting and trading.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-header">
                            <div class="faq-item-title">What are the costs associated with minting JTC
                                Ordinals?</div>
                            <i class="arrow down"></i>
                        </div>
                        <div class="faq-body">
                            Minting costs vary with the amount of data that the ordinal contains. In general,
                            it will cost you 5x-10x less to mint a given amount of data in a JTC Ordinal than
                            using BTC. And JTC Ordinals give you unique and valuable functions not available
                            elsewhere. Creating higher values at a lower cost is a win/win for minters.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-header">
                            <div class="faq-item-title">Are JTC Ordinals better than NFTs for ensuring the
                                authenticity of digital art?</div>
                            <i class="arrow down"></i>
                        </div>
                        <div class="faq-body">
                            Yes. Unlike NFTs, Jurat Ordinals incorporate the digital art into the token
                            itself. This data is written directly to the JTC Blockchain, where it becomes
                            immutable. Most NFTs only include a URL pointing to the digital art data on some
                            other server, where it could be erased or replaced. In other words, JTC Ordinals
                            ensure the authenticity of the art they convey, NFTs do not.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-header">
                            <div class="faq-item-title">How do I include licensing terms and royalty rights
                                for my JTC Ordinals?</div>
                            <i class="arrow down"></i>
                        </div>
                        <div class="faq-body">
                            The JTC Ordinal format establishes the licensing and royalty rights in the
                            metadata for each ordinal. Licensing agreements are inscribed immutably to the JTC
                            Blockchain where each receives a unique inscription ID. An ordinal can be minted
                            under that license by including the license inscription ID in its metadata,
                            eliminating any doubt as to the governing terms. The metadata also states whether
                            a royalty has been reserved and the amount of the royalty.
                            <br />
                            <br />
                            When choosing licensing terms, you can opt for free, form licenses which are
                            accessible in our UI. These include a personal license, a commercial exclusive
                            license, and a commercial non-exclusive license.
                            <br />
                            <br />
                            You can also create your own custom license agreement to govern your relationship
                            with your collectors. Just mint an inscription of your licensing terms to the JTC
                            Blockchain. You can then reference the inscription ID in the metadata of any
                            ordinal you mint thereafter.
                        </div>
                    </div>
                    <div class="faq-item">
                        <div class="faq-header">
                            <div class="faq-item-title">What happens in case of a legal dispute involving JTC
                                Ordinals?</div>
                            <i class="arrow down"></i>
                        </div>
                        <div class="faq-body">
                            In the event of a legal dispute, Jurat will generate a unique ID for you to
                            provide to a court or arbitrator. JuratBTC nodes will understand this ID and
                            follow a court order which includes it.
                            <br />
                            <br />
                            You can learn more about the court enforcement process at <a
                                href="https://jurat.io/technology/" target="_blank">https://jurat.io/technology/</a> or
                            write us at info@jurat.io.
                        </div>
                    </div>
                    <div>You can learn more about the <a href="#">court enforcement process by visiting our technology
                            page.</a></div>
                </div>
            </div>
            <div class="newsletter">
                <img src="/static/images/newsletter.svg" alt="" />
                <form>
                    <div class="title">Join our Newsletter</div>
                    <div class="inputs">
                        <div class="input-control">
                            <input type="text" id="first-name" name="first-name" placeholder="First Name" />
                        </div>
                        <div class="input-control">
                            <input type="text" id="last-name" name="last-name" placeholder="Last Name" />
                        </div>
                        <div class="input-control">
                            <input type="email" id="email" name="email" placeholder="Email" />
                        </div>
                    </div>
                    <button type="submit" class="base-button submit-button">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src=/static/faqs.js defer></script>