<div class=container>
    <div class="FAQs">FAQs</div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">What are JTC Ordinals?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            JTC Ordinals are a new type of NFT (on non-fungible token) with revolutionary features not available
            anywhere else. When using JTC Ordinals to mint art NFTs, artists can embed safety features to protect token
            owners from scams, hacks, and lost private keys. These same protections also support artists’ legal rights,
            allowing them to recover the token if a buyer violates licensing terms or fails to pay royalties. No other
            token offers artists these vital capabilities.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">What are the benefits of JTC Ordinals for artists?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            JTC Ordinals liberate artists from exploitation by NFT marketplaces who sell their works while refusing to
            collect their royalties. When using JTC Ordinals, artists are empowered to enforce their own rights
            on-chain, without needing the help of intermediaries like marketplaces.
            <br />

            <br />
            An additional benefit is that JTC Ordinals incorporate all of the licensing terms the artist requires. This
            way, the agreement can be viewed on an explorer so there is no dispute or confusion about the artist’s
            rights. Clear agreements give creators more control over their works and ensures that their rights are
            respected by others throughout the life of their creations.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">How does on-chain enforcement work?
            </div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            JTC Ordinals are minted on JuratBTC, a unique layer-1 blockchain that connects to courts using a protocol
            called Jurat. If someone breaks the law or breaches the terms of a legal agreement regarding a digital
            asset, the judge can issue an order and the JuratBTC blockchain will follow it.
            <br />
            <br />
            For example, if a hacker steals an NFT, a judge can order it returned to its rightful owner. Likewise, if a
            buyer fails to pay royalties to the artist, a judge can freeze the NFT until the royalties or paid.
            <br />
            <br />
            To learn more about Jurat’s court connection technology please visit <a href='https://jurat.io/whitepaper/'
                target="_blank">https://jurat.io/whitepaper/</a>
        </div>
    </div>
    <!-- <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">How can I start minting JTC Ordinals?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            JTC Ordinals minting and transferring services will go live in the next couple weeks. However, if you are
            interested in being one of the first artists to have your work on the blockchain please visit <a
                href='https://jurat.io/ordinals/' target="_blank">https://jurat.io/ordinals/</a> to join our minting
            waitlist.
        </div>
    </div> -->
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">Can I hold my JTC Ordinals in the same wallet as my JTC coins?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            No. Ordinals work by minting data into small units of the blockchain’s native coin. Accordingly, your JTC
            Ordinals could be mistaken for JTC coins and accidentally sent along with normal transactions. To avoid
            this, you must create a separate wallet to be used just for your ordinals and keep them in that wallet when
            minting and trading.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">What if I have other questions?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            You should always feel free to reach out to use with your questions by sending an email to info@jurat.io
        </div>
    </div>
    <script src=/static/faqs.js defer></script>
</div>