<div class=container>
    <div class="FAQs">FAQs</div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">What are JTC Ordinals?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            JTC Ordinals are a new type of NFT (on non-fungible token) with revolutionary features unique to our
            blockchain. When using JTC Ordinals to mint art NFTs, artists embed technology to enforce their legal rights
            if a buyer violates licensing terms or fails to pay royalties. These same protections help collectors
            recover their tokens in the event of scams, hacks, and lost private keys. No other token offers these vital
            capabilities.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">What are the benefits of JTC Ordinals for artists?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            With JTC Ordinals, artists can take full advantage of disruptive NFT technologies while maintaining full
            legal protection for their works. For example, Web3 enables new revenue sharing models like royalty
            agreements with collectors, but these agreements have proven impossible to enforce as a practical matter.
            With JTC Ordinals, artists enforce their agreements independently. There is no need to trust or rely on
            marketplaces whose interests are not perfectly aligned.
            <br />
            <br />
            An additional benefit is that JTC Ordinals incorporate all of the licensing terms the artist requires. This
            way, the agreement can be viewed on an explorer so there is no dispute or confusion about the artist's
            rights. Clear agreements give creators more control over their works and ensures that their rights are
            respected by others throughout the life of their creations.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">What benefits do JTC Ordinals offer to digital art collectors?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            JTC Ordinals are also the ideal way for artists to protect their collectors, fetching better prices for
            their art.
            <br />
            <br />
            Thefts and frauds are an unfortunate and all too common hazard for collectors investing in digital assets.
            With current-generation NFTs and ordinals on BTC, the collectors are out of luck — it is essentially
            impossible to recover digital art once it has left the collector's wallet. The market discounts the risk of
            these losses into sale prices, reducing returns for both the artist and collectors who seek appreciation in
            the value of their collections.
            <br />
            <br />
            Digital assets on the JuratBTC blockchain are recoverable in court and arbitration, reducing the losses from
            a crime and also discouraging criminals from targeting the assets in the first place. This revolutionary
            advance helps artists unlock the value of their works and is a unique safety feature for collectors.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">How does the JuratBTC Blockchain offer legal protection for digital art?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            JTC Ordinals are minted on JuratBTC, a unique layer-1 blockchain that connects to courts using a protocol
            called Jurat. If someone breaks the law or breaches an agreement, the judge can issue an order and the
            JuratBTC blockchain will follow it. For example, if an NFT buyer fails to pay royalties to the artist, a
            judge can seize the NFT until the royalties are paid. Similarly, if a hacker steals an NFT, a judge can
            order it returned to the collector.
            <br />
            <br />
            To learn more about Jurat's court connection technology please visit <a href='https://jurat.io/whitepaper/'
                target="_blank">https://jurat.io/whitepaper/</a>
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">Can I hold my JTC Ordinals in the same wallet as my JTC coins?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            No. Ordinals work by minting data into small units of the blockchain's native coin. Accordingly, your JTC
            Ordinals could be mistaken for JTC coins and accidentally sent along with normal transactions. To avoid
            this, you must create a separate wallet to be used just for your ordinals and keep them in that wallet when
            minting and trading.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">What are the costs associated with minting JTC Ordinals?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            Minting costs vary with the amount of data that the ordinal contains. In general, it will cost you 5x-10x
            less to mint a given amount of data in a JTC Ordinal than using BTC. And JTC Ordinals give you unique and
            valuable functions not available elsewhere. Creating higher values at a lower cost is a win/win for minters.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">Are JTC Ordinals better than NFTs for ensuring the authenticity of digital art?
            </div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            Yes. Unlike NFTs, Jurat Ordinals incorporate the digital art into the token itself. This data is written
            directly to the JTC Blockchain, where it becomes immutable. Most NFTs only include a URL pointing to the
            digital art data on some other server, where it could be erased or replaced. In other words, JTC Ordinals
            ensure the authenticity of the art they convey, NFTs do not.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">How do I include licensing terms and royalty rights for my JTC Ordinals?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            The JTC Ordinal format establishes the licensing and royalty rights in the metadata for each ordinal.
            Licensing agreements are inscribed immutably to the JTC Blockchain where each receives a unique inscription
            ID. An ordinal can be minted under that license by including the license inscription ID in its metadata,
            eliminating any doubt as to the governing terms. The metadata also states whether a royalty has been
            reserved and the amount of the royalty.
            <br />
            <br />
            When choosing licensing terms, you can opt for free, form licenses which are accessible in our UI. These
            include a personal license, a commercial exclusive license, and a commercial non-exclusive license.
            <br />
            <br />
            You can also create your own custom license agreement to govern your relationship with your collectors. Just
            mint an inscription of your licensing terms to the JTC Blockchain. You can then reference the inscription ID
            in the metadata of any ordinal you mint thereafter.
        </div>
    </div>
    <div class="faq-item">
        <div class="faq-header">
            <div class="faq-item-title">What happens in case of a legal dispute involving JTC Ordinals?</div>
            <i class="arrow down"></i>
        </div>
        <div class="faq-body">
            In the event of a legal dispute, Jurat will generate a unique ID for you to provide to a court or
            arbitrator. JuratBTC nodes will understand this ID and follow a court order which includes it.
            <br />
            <br />
            You can learn more about the court enforcement process at <a href="https://jurat.io/technology/"
                target="_blank">https://jurat.io/technology/</a> or write us at info@jurat.io.
        </div>
    </div>
    <script src=/static/faqs.js defer></script>
</div>