<div class="goats-page">
    <div class="banner">
        <img class="banner-img" src="/static/images/banner.png" alt="" />
        <img src="/static/images/title-image.png" class="title-banner" />
    </div>
    <div class="content">
        <div class="minting">
            <div class="heading">
                <h1>The Goats</h1>
                <img class="check-icon" src="/static/images/check-icon.png" />
            </div>
            <p class="description">Goats are minted by invitation only.</p>
            <a class="base-button mint-button" href="http://13.58.172.21:8787">Mint a Goat</a>
        </div>
        <div class="story">
            <h1 class="title">The story of the JTC Goats</h1>
            <div class="content">
                <div class="question">
                    <h1>Why Goats?</h1>
                    <p>Greatest Of All Time of course. We wanted to align our project with an animal that symbolizes
                        intelligence, creativity, dependability, and calmness.</p>
                </div>
                <div class="question">
                    <h1>How to get a Goat?</h1>
                    <p>We gift goats to members of the JTC community who are actively involvd on Discord & Twitter.
                        Custom goats have been given to members of the Jurat Early Adopters Program.</p>
                </div>
            </div>
        </div>
    </div>
</div>