<div class=container>
  <h1>All Inscriptions</h1>
  <div class=thumbnails>
    %% for id in &self.inscriptions {
    {{Iframe::thumbnail(*id)}}
    %% }
  </div>
  <div class="center prev-next">
    %% if let Some(prev) = self.prev {
    <a class="prev arrow left" href=/inscriptions/{{prev}}></a>
    %% } else {
    <i class="arrow left"></i>
    %% }
    %% if let Some(next) = self.next {
    <a class="next arrow right" href=/inscriptions/{{next}}></a>
    %% } else {
    <i class="arrow right"></i>
    %% }
  </div>
</div>