<div class="container inscription-container">
  <div class=inscription>
    <div class="inscription-id">Inscription #{{ self.number }}</div>
    <div class="inscription-preview">
      %% if let Some(previous) = self.previous {
      <a class=prev href=/inscription/{{previous}}>❮</a>
      %% } else {
      <div class="disabled">❮</div>
      %% }
      {{ Iframe::main(self.inscription_id) }}
      %% if let Some(next) = self.next {
      <a class=next href=/inscription/{{next}}>❯</a>
      %% } else {
      <div class="disabled">❯</div>
      %% }
    </div>
    <div class="links">
      <div class="copy-icon" data-copy="http://13.58.99.149:8780/inscription/{{self.inscription_id}}">
        <img src="/static/images/copy-icon.svg" width="19" height="19" />
      </div>
      <a href="http://www.twitter.com/share?url=http://13.58.99.149:8780/inscription/{{self.inscription_id}}"
        target="_blank">
        <img src="/static/images/twitter-icon.svg" width="21" height="18" />
      </a>
      <a href="/preview/{{self.inscription_id}}" target="_blank">
        <img src="/static/images/share-icon.svg" width="18" height="18" />
      </a>
    </div>
  </div>
  <div class="main-infos">
    <div class="info">
      <div class="title">
        <div>Inscription iD</div>
        <div class="copy-icon" data-copy="{{ self.inscription_id  }}">
          <img src="/static/images/copy-icon.svg" />
        </div>
      </div>
      <div class="content uppercase">{{ self.inscription_id }}</div>
    </div>
    <!-- <div class="info">
      <div class="title">License type</div>
      <div class="content">Personal</div>
    </div> -->
    <div class="info">
      <div class="title">royalty percentage</div>
      <div class="content">0%</div>
    </div>
    <!-- <div class="info">
      <div class="title">royalty Must be paid to</div>
      <div class="content">-</div>
    </div> -->
    %% if let Some(content_type) = self.inscription.content_type() {
    <div class="info">
      <div class="title">File type</div>
      <div class="content">{{ content_type }}</div>
    </div>
    %% }
    %% if let Some(content_length) = self.inscription.content_length() {
    <div class="info">
      <div class="title">File size</div>
      <div class="content" id="size">{{ content_length }}</div>
    </div>
    %% }
    <div class="info">
      <div class="title">created</div>
      <div class="content timestamp">
        <div id="timestamp">{{ self.timestamp }}</div>
        <div id="from-now"></div>
      </div>
    </div>
    %% if let Ok(address) = self.chain.address_from_script(&self.output.script_pubkey ) {
    <div class="info">
      <div class="title">
        <div>
          inscribed by
          <div>
          </div>
        </div>
        <div class="copy-icon" data-copy="{{ address }}">
          <img src="/static/images/copy-icon.svg" />
        </div>
      </div>
      <div class="content" id="inscribed-by">{{ address }}</div>
    </div>
    %% }
    <div class="info">
      <div class="title">tags</div>
      <div class="content">No tags yet</div>
    </div>
  </div>
  <div class="hidden-panel">
    <div class="second-infos hidden" id="second-infos">
      <div class="info">
        <div class="title">hash</div>
        <div class="content uppercase" id="hash">{{ self.inscription_id.txid }}</div>
      </div>
      %% if let Ok(address) = self.chain.address_from_script(&self.output.script_pubkey ) {
      <div class="info">
        <div class="title">
          <div>
            <div>
              address that holds ordinal
            </div>
          </div>
          <div class="copy-icon" data-copy="{{ address }}">
            <img src="/static/images/copy-icon.svg" />
          </div>
        </div>
        <div class="content uppercase" id="address">{{ address }}</div>
      </div>
      %% }
      <div class="info">
        <div class="title">
          <div>creation block</div>
          <div class="copy-icon" data-copy="{{ self.genesis_height }}">
            <img src="/static/images/copy-icon.svg" />
          </div>
        </div>
        <div class="content" id="block">{{ self.genesis_height }}</div>
      </div>
      <div class="info">
        <div class="title">
          <div>creation transaction</div>
          <div class="copy-icon" data-copy="{{ self.inscription_id.txid }}">
            <img src="/static/images/copy-icon.svg" />
          </div>
        </div>
        <div class="content" id="transaction">{{ self.inscription_id.txid }}</div>
      </div>
      <div class="info">
        <div class="title">creation fee</div>
        <div class="content" id="fee">{{ self.genesis_fee }}</div>
      </div>
      %% if let Some(sat) = self.sat {
      <div class="info">
        <div class="title">
          <div>sat</div>
          <div class="copy-icon" data-copy="{{ sat }}">
            <img src="/static/images/copy-icon.svg" />
          </div>
        </div>
        <div class="content">{{ sat }}</div>
      </div>
      <div class="info">
        <div class="title">sat rarity</div>
        <div class="content">{{ sat.rarity() }}</div>
      </div>
      <div class="info">
        <div class="title">sat creation block</div>
        <div class="content" id="sat-block">{{ sat.height() }}</div>
      </div>
      %% }

    </div>
    <button class="show-more-btn" id="show-more">Show More</button>
  </div>
</div>

<script src=/static/inscription.js defer></script>