<!doctype html>
<html lang=en>

<head>
  <meta charset=utf-8>
  <meta name=format-detection content='telephone=no'>
  <meta name=viewport content='width=device-width,initial-scale=1.0'>
  <meta property=og:title content='{{ self.content.title() }}'>
  <meta property=og:image content='{{ self.og_image() }}'>
  <meta property=twitter:card content=summary>
  <meta http-equiv="Content-Security-Policy"
    content="default-src 'self'; script-src 'self' https://cdnjs.cloudflare.com;" <title>{{ self.content.title() }}
  </title>
  <link rel=alternate href=/feed.xml type=application/rss+xml title='Inscription RSS Feed'>
  <link rel=stylesheet href=/static/index.css>
  <link rel=stylesheet href=/static/modern-normalize.css>
  <script src="/static/moment.min.js"></script>
  <script src=/static/index.js defer></script>
</head>

<body>
  <header class="container">
    <a href= /><img src=/static/images/logo.png alt=logo /></a>
    <nav>
      <div class=nav-items-wrapper>
        <a href=/ class="nav-link">Explorer</a>
        <a href=http://13.58.172.21:8787 target="_blank">Minting</a>
        <a href=/goats class="nav-link">Goats</a>
        <a href=/faq class="nav-link">FAQs</a>
        <a href=/contact class="nav-link">Contact</a>
      </div>
      <a href=https://docs.ordinals.com/ title=handbook><img class=icon src=/static/book.svg></a>
      <a href=https://github.com/ordinals/ord title=github><img class=icon src=/static/github.svg></a>
      <a href=https://discord.com/invite/ordinals title=discord><img class=icon src=/static/discord.svg></a>
    </nav>
    <form action=/search method=get id="search-form">
      <input type=text autocapitalize=off autocomplete=off autocorrect=off name=query spellcheck=false
        placeholder='Search Inscription ID'>
      <button class=search-icon></button>
    </form>
  </header>
  <main>
    $$ Trusted(&self.content)
  </main>
  <footer>
    <div class="container">
      <div class="top">
        <a href="http://jurat.io/" target="_blank">
          <img src="/static/images/footer-logo.svg" alt="" />
        </a>>
        <div class="links">
          <a href="http://twitter.com/JuratNetwork" target="_blank">
            <img src="/static/images/twitter.svg" />
          </a>
          <a href="https://discord.gg/aVuRMNS4pE" target="_blank">
            <img src="/static/images/linkedin.svg" />
          </a>
          <a href="https://www.linkedin.com/company/jurat/" target="_blank">
            <img src="/static/images/discord.svg" />
          </a>
        </div>
      </div>
      <div class="terms">
        Powered by Jurat </br>
        <p>
          <a href="https://jurat.io/privacy-policy/" target="_blank">Privacy Policy</a> and <a
            href="https://jurat.io/terms-conditions/" target="_blank">Terms & Conditions</a>
        </p>
      </div>
    </div>
  </footer>
</body>

</html>